
@{
    ViewBag.Title = "Winnerslist";
    Layout = "~/Views/Shared/_Layoutq.cshtml";
}

<h2>قائمة أسماء الفائزين</h2>
<style>
      .badge {
        margin-left:10px;
        background-color:#BC3232;
        color:#fff;
    }
</style>
<div class="row">
    <div class="container">
        <section class="col-sm-12" style="margin-top:100px;">
            <div class="wslst">
                <h4>أسماء الفائزين بالسؤال الإسبوعي</h4>
                <p style="color:red;font-weight:bold;">
                   إجابة السؤال رقم 5:
                    <br />
                    طوي أعتير
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                     
                        أحمد محمد سالم الكثيري 
                        <span class="badge">1</span>

                    </li>
                    <li class="list-group-item">
                        سعيد محمد سعيد خادم عبيدون 
                       
                        <span class="badge">2</span>
                    </li>
                    <li class="list-group-item">
                        خالد سعيد محمد العوائد 
                   
                        <span class="badge">
                            3
                        </span>
                    </li>
                    <li class="list-group-item">
                        علياء سالم خلفان الشعيبي 
                        <span class="badge">
                            4
                        </span>
                    </li>
                    <li class="list-group-item">
                        مهدي عبدالمجيد شعبان عيد معطي 
                        <span class="badge">
                            5
                        </span>
                    </li>
                    <li class="list-group-item">
                        شامه فيصل بن فايل الحبشي 
                        <span class="badge">
                            6
                        </span>
                    </li>
                    <li class="list-group-item">
                        أسماء جامع فرحان مرزوق
                        <span class="badge">
                            7
                        </span>
                    </li>
                    <li class="list-group-item">
                        سارة بنت محمد بن ناصر الغفيلية 
                        <span class="badge">
                            8
                        </span>
                    </li>
                    <li class="list-group-item">
                        محمد سالم عوض احمد العريبي 
                        <span class="badge">
                            9
                        </span>
                    </li>
                    <li class="list-group-item">
                        سلمى احمد عوض ضحى 
                        <span class="badge">
                            10
                        </span>
                    </li>
                    <li class="list-group-item">
                        جميله مرهون هدوب السيفي 
                        <span class="badge">
                            11
                        </span>
                    </li>
                    <li class="list-group-item">
                        دينا بنت أحمد صالح الحديد 
                        <span class="badge">
                            12
                        </span>
                    </li>
                    <li class="list-group-item">
                        احمد بن سالم عرفه بيت النظيف 
                        <span class="badge">
                            13
                        </span>
                    </li>
                    <li class="list-group-item">
                        رغد بنت عادل بن سعيد بيت رجب 
                        <span class="badge">
                            14
                        </span>
                    </li>
                    <li class="list-group-item">
                        منى بنت حفيظ طاهر مقيبل 
                        <span class="badge">
                            15
                        </span>
                    </li>
                    <li class="list-group-item">
                        أحمد خالد احمد المعشني 
                        <span class="badge">
                            16
                        </span>
                    </li>
                    <li class="list-group-item">
                        إيثار أشرف شعبين علي بيت راشد 
                        <span class="badge">
                            17
                        </span>
                    </li>
                    <li class="list-group-item">
                        فاطمة جمال محمد معروف 
                        <span class="badge">
                            18
                        </span>
                    </li>
                    <li class="list-group-item">
                        ساره أحمد سعد غفرم الشحري 
                        <span class="badge">
                            19
                        </span>
                    </li>
                    <li class="list-group-item">
                        رحمة محمد سالم السنح 
                    
                        <span class="badge">
                            20
                        </span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
