
<!DOCTYPE html>

<html lang="ar-om" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutApp</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Conteststyle.css" rel="stylesheet" />
</head>
<body>
    <div id="app-header" class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="logo">
                    <img src="~/Content/images/logo.png" alt="site logo" class="img-responsive" />
                </div>
            </div>

        </div>
    </div>

    @RenderBody();

    <!--JavaScript Library-->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
</body>
</html>
